@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --background-color_light: #ffffff;
  --text-colors: #111827;
  --secondary-text-color: #4b5563;
  --background-color: #f8f9fa;
  --backgroundCard-color: #e7f1ff;
  --text-light-colors: #202020da;

}

html.dark {
  --background-color_light: #1e1e1e;
  --background-color: #121212;
  --text-colors: #9b9696;
  --secondary-text-color: #a1a1aa;
  --backgroundCard-color: #2c3e50;
  --text-light-colors: #ffffff;

}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}


.dark-bg-li {
  background-color: var(--background-color_light);
}
.dark-text-li{
  color: var(--text-light-colors);
}
.textDark {
  color: var(--text-colors);
}

.DarkCard {
  background-color: var(--backgroundCard-color);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;

  object-fit: cover;
}

/* loading */

 
.animate-custom-rotate {
  animation: rotate 5s linear infinite;
}

.animate-custom-pulse-main {
  animation: pulse-main 1.5s ease-in-out infinite alternate;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
    
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse-main {
  from {
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 0.8;
  }

  to {
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 1;
  }
}
